@charset "UTF-8";

body{
    top:5px;
    background-image: url(../image/home/background.jpg);
    background-color:rgba(148, 60, 60, 0.8);
    background-blend-mode:lighten;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}


p.title{
    font-size: 100%;
    width: 100%;
    margin: 0;
    color: black;
    text-align: center;
    padding: 100px 0 100px 0;
}

.introduce{
    width: 50%;
    text-align: center;
}

.matome{
    margin:0 auto;
    width: 45%;
    text-align: center;
    
}


.logo{
    height:300px;
    width: 300px;
    text-align: center;
    padding: 10px;
}
a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

.box{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}