@charset "UTF-8";

body{
    margin: 0;
}

.title{
    text-align: center;
    letter-spacing: .05em;
    background-color: #DC143C;
    font-size:4em;
    margin: 0 0 2% 0;
}

.subtitle {
    font-size: 100%;
    text-align: left;
    letter-spacing: 0.05em;
    width: auto;
    background: rgb(209, 209, 209);
    padding: 0 0 0 5%;
  }

header p{
    margin: 0;
}

.contentsTable{
    position: -webkit-sticky;
    position: sticky;
    top: 2%;
    padding: 0;
    margin: 2% 0;
    border: double 5px #8bdaff;
    width: 100%;
    text-align: left;
}

.contentsTable p{
    background-color: #bce7f1;
    margin: 0;
    text-align: center;
}

ol{
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding:0.5em;
  background: #f5faff;
  margin: 0;
}

ol .jump{
  position: relative;
  padding-left: 5%;
  line-height: 1.5em;
  padding: 0.5em 0.5em 0.5em 30px;
}

ol .jump:before{
    /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*以下数字のデザイン変える*/
  display:inline-block;
  background: #5c9ee7;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

h3{
    font-size: 25px;
    text-align: center;
    border-top:  rgb(13, 27, 158) 2px solid;
    border-bottom: rgb(28, 33, 82) 2px solid;
}

ul{
    margin: 2% 0;
    background-color: white;
}

.jump{
    color: blue;
}

.jump:hover{
    color: red;
}
  
.jump:active{
    color: green;
}

/* h2{
    padding: 1vw 1vw 1vw 2vw;
} */

.explain{
    min-width: 300px;
    width: 55%;
    margin: 0;
    padding: 0;
    height: 4000px;
}

.horizon {
    display: flex;
}
.side-left {
    width: 25%;
    height: auto;
    padding: 0;
    margin: 0 1.5% 0 1%;
}
