@charset "UTF-8";
body {
  margin: 0;
}

.title {
  font-size: 250%;
  text-align: center;
  letter-spacing: 0.05em;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgb(255, 120, 120);
  margin: auto;
}

.subtitle {
  font-size: 100%;
  text-align: left;
  letter-spacing: 0.05em;
  width: auto;
  background: rgb(209, 209, 209);
  padding: 0 0 0 5%;
}

.page-contents {
  position: -webkit-sticky;
  position: sticky;
  top: 2%;
  padding: 0;
  margin: 2% 0;
  border: double 5px #8bdaff;
  width: 100%;
  text-align: left;
}

.page-contents p {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  text-align: center;
  position: relative;
  padding: 0.25em 0;
  margin: 1em 0;
}

h1:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(132, 90, 230), transparent);
  background: linear-gradient(to right, rgb(132, 90, 230), transparent);
}

h2 {
  padding: 0.25em 0.5em;
  margin: 1.5em 0;
  color: #494949;
  background: transparent;
  border-left: solid 5px #7db4e6;
}

h3 {
  position: relative;
}

h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(
    -45deg,
    #6ad1c8,
    #6ad1c8 2px,
    #fff 2px,
    #fff 4px
  );
  background: repeating-linear-gradient(
    -45deg,
    #6ad1c8,
    #6ad1c8 2px,
    #fff 2px,
    #fff 4px
  );
}

p {
  letter-spacing: 0.01em;
  line-height: 3em;
}

ul {
  letter-spacing: 0.01em;
  line-height: 3em;
}

ol {
  counter-reset: section;
  list-style-type: none;
}

li:before {
  counter-increment: section;
  content: counters(section, ".") ".";
}

img {
  width: 100%;
}

video {
  width: 100%;
}

footer p {
  text-align: center;
  letter-spacing: 0.01em;
  width: auto;
  background: rgb(255, 120, 120);
  padding: 0 0 0 5%;
  margin: 1% 0 0 0;
  color: white;
}

.jump,
.page-contents a {
  color: blue;
}

.jump:hover,
.page-contents a:hover {
  color: red;
}

.jump:active,
.page-contents a:active {
  color: green;
}

.horizon {
  display: flex;
}

.main {
  min-width: 300px;
  width: 50%;
  margin: 0;
  padding: 2%;
  border-right: rgb(32, 32, 32) 1px dashed;
  border-left: rgb(32, 32, 32) 1px dashed;
}

.side-left {
  width: 25%;
  height: auto;
  padding: 0;
  margin: 0 1.5% 0 1%;
}